#body{
    font-family: arial;
}

#banner{
    width: 75%;
    min-width: 550px;
    background-color: #FFFFFF;
    text-align: center;
}

#linha
{
    width: 75%;
    min-width: 550px;
}

#caixilho{
    width: 75%;
    min-width: 550px;
    border: 1px black solid;
}

table.infoAutores{
    width: 510px;
    border-top: 1px black dotted;
    border-bottom: 1px black dotted;
    text-align: center;
}

table.infoAutores td{
    width: 170px;
}

table.links{
    width: 200px;
    border-top: 1px black dotted;
    border-bottom: 1px black dotted;
    text-align: center;
}

table.links td{
    width: 100px;
}

#paragrafo{
    text-align: justify;
    text-indent: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

a:link
{
	color: #000000;
}

a:visited
{
	color: #000000;
}

a:hover
{
	color: #0000FF;
}

a:active
{
	color: #00FFFF;
}